Output/
Input/
.idea/
data/bioinfo/GM12878_AEAP.npz
data/bioinfo/GM12878_AEIE.npz
data/bioinfo/GM12878_APIP.npz
data/bioinfo/GM12878_IEIP.npz
data/bioinfo/GM12878_data.npz
data/fashion/
data/mnist/
CNN.py
CNN_Fashion.py